Seeburger Training/Training_BIC_6_Advanced_20180928/classmaterial/XMLAdapter/DEMO_DTD.dtd

<?xml encoding="UTF-8" ?>
<!ELEMENT root (customer,supplier?)>

<!ELEMENT customer (name,address*,volume)>
<!ATTLIST customer
	id 	CDATA 	#IMPLIED
>

<!ELEMENT name (#PCDATA)>

<!ELEMENT address (#PCDATA)>
<!ATTLIST address
	str 	CDATA 	#IMPLIED
>

<!ELEMENT volume (#PCDATA)>
<!ATTLIST volume
	value 	CDATA 	#IMPLIED
>

<!ELEMENT supplier (name,address*,volume)>
<!ATTLIST supplier
	id 	CDATA 	#IMPLIED
>

